html{
    /* font-size: 10px; */
}
body{
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    list-style: none;
    position: sticky;
    
}
.navbar li{
    font: 25px;
    margin: 10px;
    padding: 10px
}



.navbar a{
    text-decoration: none;
    /* background-color: gray; */
   
}
.navbar a:hover{
    background-color: brown;
    color: azure;
}

.sub{
    display: none;
}
.navbar a:hover > ul{
    display: block;
    position: relative;
}
.slider{
    background-color: aquamarine;

}
.slider img{
    position: relative;
    height: 300px;
    width: 300px;
    animation-name: monkey;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes monkey{
    0%{
        top: 0;
        left: 0;
    }
    25%{
        top: 150px;
        left: 0px;
    }
    75%{
        left: 200px;
        top: 150px;
    }
    100%{
        top: 0;
        left: 200px;
    }
    
}

.para{
    background-color: gray;
    line-height: 50px;
    padding: 10px;
    font-size: 1.3rem;
    /* font-weight: bold; */
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para:hover{
    background-color:rgb(177, 155, 29);
    border-radius: 50px;
    font-weight: lighter
    
}

#about{
    background-color: rgb(31, 130, 175);
    color: brown;
    width: 50%;
    margin:3px auto;
    text-align: center;
    font-size: 2em;


}

.about{
    height: 600px;
    line-height: 40px;
    background-color: cornflowerblue;
    color: brown;
    font-size: 1.2em;

}

.about::before{
    content: "Hello my name is sunil nepali ";
}

.contact{
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 60%;
    
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
    /* justify-content: center;
    align-items: center; */
}

/* .contact:hover{
    transform: scale(1.4);

} */

/* .contact form{
    display: flex;
    justify-content: center;
    align-items: center; */

/* } */

.contact label{
    text-align: center;
}

.contact input{
    padding: 10px 10px;
    margin:5px;
    border: 1px solid black;
    border-radius: 22px;
}

.contact textarea{
    padding: 20px;
    border-radius: 40px;
    margin: 3px;
}

.contact button{
    margin: 4px auto;
    width: 20%;
    background-color: aqua;
    font-size: 1.5em;
    border: 2px solid rgb(226, 18, 18);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.contact button:hover{
    transform: scale(1.1);
    color: rgb(28, 8, 104);
    font-weight: bold;
    
}

footer{
    margin: 5px;
    height: 70px;
    background-color: rgba(17, 2, 2, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
}
